
main {
    .container-formularios {
        @include flex-column;
        align-items: center;
        .input-form {
            margin-bottom: 0.8rem;
            margin-left: 0.5rem;
        }
    }
    #container-form, #formularioTurnos {
        font-size: 5rem;
        padding: 2rem;
        margin-bottom: 4rem;
        background-color:#f0f0f4;
        border-radius: 10px;
        @include width-height(50%, 50%)

    }
    #formularioTurnos {
        font-size: 3rem;
        margin-bottom: 15rem;
    }

    #diaSemana, #horarioSemana {
        font-size: 1.7rem;
        border-radius: 10px;
        padding-right: 5%;
        margin-right: 3rem;
        option {
            font-size: 1.7rem;
        }
    }   
}




