
footer {
    background-color: $gris-oscuro;
    position:relative;
    bottom: 0;
    margin: 0;
    width: 100%;
    min-height: 18vh;
    color: $bg-header;
    padding: 0 5rem;


    .lista-contacto, .lista-redes {
        font-size: 4rem;
        font-weight: bold;
        .img-contacto {
            width: 10%;
        }
    }
    .container-icons {
        @include flex-container (column, center, center);
        .nande-icons {
            width: 25%;
            border-radius: 50%;
            box-shadow: 0 0 20px 0 rgb(20, 20, 20);
            margin-bottom: 1rem;
        }
        .p-derechos {
            margin: 0;
        }
    }
    .lista-redes {
        @include flex-container(column,center,center);
        .lista-icons {
            @include flex-row;
            width: 50%;
            column-gap: 2rem;
            li {
                a {
                    .icon {
                        &:hover {
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 324px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 3rem;
        justify-content: center;
        align-items: center;
        .ocultar-mobile {
            display: none;
        }

        .lista-contacto {
            @include flex-container(column, center, center);
            .lista-mail {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;
                column-gap: 0.3rem;
            }
        }
        .parrafo {
            margin-bottom: 0.3rem;
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        @include flex-container (row, space-between, center);
            .ocultar-mobile {
                display: flex;
            }
        .parrafo {
            margin-bottom: 1rem;
        }
    }
}

