// @font-face {
//     font-family: dreaming;
//     src: url(../../fonts/dreaming-outloud-regular.otf);
// }
// @font-face {
//     font-family: candara;
//     src: url(../../fonts/candara.ttf);
// }
// @font-face {
//     font-family: candarabold;
//     src: url(../../fonts/candara-bold.ttf);
// }


// font-family: 'Amatic SC', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Shadows Into Light Two', cursive;




body {
    background-color: $body;
    color: $gris-oscuro;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    li {
        font-size: 1.5rem;
        a {
            font-size: 1.7rem;
        }
        .nav {
            &:hover {
                color: $gris-claro;
            }
        }
    }
}
a {
    text-decoration: none;
    font-family: 'Amatic SC', sans-serif;
    color: $gris-oscuro;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 3rem;
}

div {
    font-size: 1.5rem;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.3px;
}
div {
    input {
        margin: 0.2rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        border: 1px solid $gris-claro;
        border-radius: 10px;
    }
}

p {
    font-size: 1.4rem;
    text-shadow: 0 0 0px $gris-claro;
}
strong {
    font-size: 1.4rem;
}

span {
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: none;
}

.img-border {
    border: 2px solid $gris-claro;
}
.box-shadow {
    box-shadow: 0 0 5px 0 $gris-claro;
}
.border-radius {
    border-radius: 5px;
}


main {
    h1 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 5rem;
        text-shadow: 1px 1px 1px $gris-claro;
        letter-spacing: 3px;
    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    }
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

header {
    @include flex-column;
    margin-bottom: 10rem;
    border-bottom: 1px solid $gris-claro;
    box-shadow: 0px 0px 4px 1px $gris-claro;
    background-color: $bg-header;

    .titulo-header {
        font-size: 4rem;
        text-align: center;
        text-shadow: 1px 1px 0px $gris-claro;
    }
    .lista-header {
        @include flex-row;
        font-size: 4rem;
        justify-content: center;
        gap: 6rem;
        margin: 0;
        text-shadow: 0px 1px 1px $gris-claro;
        text-transform: uppercase;
        .nav {
            font-family: 'Amatic SC', sans-serif;
            letter-spacing: 2px;
            font-size: 2rem;
        }
    }
}

/* menu boot */
.container-boot {
    margin-bottom: 12rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    nav {
        padding: 0;
        .header-boot, .estilos-boot {


            @include flex-container(row, space-around, center);
            
        }
        .estilos-boot {
            border-bottom: $gris-claro solid 0.5px;
            box-shadow: 0px 0px 6px 1px $gris-claro;
            background-color: $bg-header;
            padding: 1rem 0;
            .bg-boot {
                background-color: #F0F0F0;
                opacity: 20px;
                background-color: $bg-header;
                height: 45%;
            }
            .img-menu {
                width: 3rem;
                &:hover {
                    background-color: $gris-claro;
                    border-radius: 20%;
                }
            }
            .img-boot {
                width: 2.2rem;
                &:hover {
                    background-color: $gris-claro;
                    border-radius: 20%;
                }
            }
            .titulo-nande {
                font-size: 2.5rem;
                color: $gris-oscuro;
                text-shadow: 1px 0px 0px $gris-claro;
                font-weight: bold;
            }
            .btn-boot {
                border: none;
                padding: 0;
            }
            div {
                .color-boot {
                    color: $gris-oscuro;
                    font-weight: bold;
                    padding-left: 6rem;
                    font-weight: bold;
                    a {
                        font-size: 2rem;
                    }
        
                }
                form {
                    .boton-buscar {
                        border: 1px solid $gris-claro;
                        color: $gris-oscuro;
                        font-weight: bold;
                        &:hover {
                            background-color: $violeta;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 324px) {
    header {
        display: none;
    }
    main {
        @include flex-column;
        @include margin-mobile;
    }
}

@media screen and (min-width: 768px) {
    main {
        @include margin-tablet;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
    }
    .container-boot {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    main {
        h1 {
            margin-bottom: 10rem;
        }
    }

}


