


@media screen and (min-width: 324px) {
    main {
        .img-index { 
            width: 100%;
            padding-bottom: 2rem;
        }
        .btn-index {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-index {
        box-shadow: 0 0 1px 0 $gris-claro;
        background-color: $naranja-claro;
        margin-bottom: 10rem;
        border: 2px solid $gris-claro;

        @include margin-desktop;
        @include grid (35% 65%, 50% 50%);

        .h1-index {
            display: grid;
            grid-row: span 1;
            align-self: center;
            padding: 0 20%;
        }
        .img-index {
            grid-column: 2;
            grid-row: 1 / 3;
            justify-self: right;
            align-self: center;
            padding: 2rem 2rem;
        }
        .btn-index {
            @include width-height (50%, 4rem);
            border: none;
            display: flex;
            justify-self: center;
            justify-content: center;
            align-items: center;
            text-align: center; 
            font-size: 2.9rem;
            background-color: $verde-claro;
            padding: 0.3rem;
            border-radius: 5px;
            border: 1.5px solid $gris-claro;
            box-shadow: 0 0 6px 0 $gris-claro;
            &:hover {
                background-color: $verde-oscuro;
            }
        }
    }
}