






// Codepen
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Poppins&display=swap");


main {
    .h2-talleres {
        font-size: 1.2rem;
        text-align: center;
    }
    .gallery {
        display: block;
        max-width: 100%;
        padding: 10px;
        background-color: white;
        background-color: $body;
		position: relative;

        .photo {
            text-align: center;
            position: relative;
            display: inline-block;
			transition: transform 0.3s ease;
            &:hover {
                transition: all 1s;
                transform: translateY(15px) scale(1.1) rotate(3deg); 
                animation-play-state: paused;
				opacity: 0.7;
				z-index: 2;
				filter: grayscale(50%);
                & figcaption {
                    transition: all 0.7s;
                    color: $gris-claro;
                }
            }
        }

        .photo img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
            background: white;
            padding: 10px 10px 35px;
            text-align: center;
            text-decoration: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            transition: all 0.15s linear;
            z-index: 0;
            position: relative;
        }

        .photo figcaption {
            position: relative;
            left: 10px;
            right: 10px;
            top: -45px;
            font-size: 14px;
            color: $gris-oscuro;
            padding-top: 4px;
        }

        figure {
            offset-anchor: top;
            transform-origin: top;
            animation: swing 2s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
            &:hover {
                animation-play-state: paused;
            }
        }

        @keyframes swing {
            25% { 
                transform: rotate3d(0, 0, 1, 3deg);
            }
            75% { 
                transform: rotate3d(0, 0, 1, -3deg);
            }
        }

        //hover 
		.photo-1:hover .taller {
			opacity: 1;
		}
        .photo-2:hover .taller {
			opacity: 1;
		}
        .photo-3:hover .taller {
			opacity: 1;
		}
		.taller {
			top: 40%;
			left: 10%;
			}

            .taller {
				color: honeydew;
				opacity: 0;
				text-align: left;
				position: absolute;
                padding: 1rem;
				background-color: black;
				box-shadow: 5px 15px 25px black;
				transform: translate(-6%, -50%);
				ul li {
					font-size: 1.2rem;
                    strong {
                        font-size: 1.2rem;
                    }
				}
            }   
    }
}




@media screen and (min-width: 1024px) {
	main {
		.gallery {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
            margin-bottom: 15rem;


            .taller {
                ul li {
					font-size: 1.5rem;
				}
            }   
		}
	}
}


	

